.cpcache/
out/cljs/
out/clojure/
out/goog/
out/process/
out/universo/
out/cljs_deps.js
out/cljsc_opts.edn
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
*.log
/.env
.shadow-cljs/
node_modules/
!/public/js/app.js
